#ident-rainbow
#markdown pdf
#vscode pdf

### desafio guiado 1

##### Requerimiento 1

In [2]:
print('Hola mundo esta es mi primera invursion en Python')

Hola mundo esta es mi primera invursion en Python

### Requerimiento 2

2 Ingreso de variables (2 ptos): Ingrese una serie de datos respecto a su información personal. Esta información debe estar ingresada en variables para su posterior uso.
Ingrese los siguientes datos:
* Su nombre.
* Edad.
* Una lista con sus 3 actividades favoritas.
* ¿Tiene mascotas?

In [3]:
name = 'Diego'
edad = 31
actv_fav = ['surf', 'futbol', 'e-sports']
mascota = True

### Requerimiento 3

3. Imprimir variables (2 ptos):
* Imprima cada variable creada: acceda al segundo elemento de su lista.
* Pida los tipos de datos asociados.
* Interpole los datos en un método print para generar una    presentación    sobre usted.

In [4]:
print(name)
print(edad)
print(actv_fav[1])
print(mascota)

Diego
31
futbol
True

In [5]:
print(type(name))
print(type(edad))
print(type(actv_fav))
print(type(mascota))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'bool'>

In [6]:
print('Mi nombre es {} tengo {} y me gusta {}'.format(name, edad, actv_fav))

Mi nombre es Diego tengo 31 y me gusta ['surf', 'futbol', 'e-sports']

### Requerimiento 4

4. Identificar códigos erróneos (2 ptos): a continuación se presenta una serie de códigos que generan errores. Corríjalos y comente cuáles fueron las fallas.

    print('Estaba la pájara pinta sentada en el verde limón)
'''
r/: Falta una comilla simple al final
* print('Estaba la pájara pinta sentada en el verde limón')
'''

    print('Mi nombre es' name 'y tengo' edad, 'años')
'''
r/: asumiendo que las variables estan creadas. Faltan espacios al inicio y al termino de los strings: 
* print('Mi nombre es ' name ' y tengo ' edad, ' años')
'''

    import pandas as pd
    import numpy as np
'''
r/: no hay errores a simple vista, a menos que asumamos que no se tengan instaladas las librerias o que se esten importando y despues no se utilicen
'''
* df = pd.read_csv('bd.csv')
* media = np.mean(df['valores'])

    "Ornitorrinco" + 45
'''
r/: se esta concatenando un string con un int por ende arrojara error de tipo
'''
* "Ornitorrinco" + "45"

### Requerimiento 5

5. Utilizar pandas y numpy (3 ptos):
* Para ello, sigue los siguientes pasos.
* A. Importa pandas y numpy.

In [7]:
import pandas as pd
import numpy as np

* B. Posteriormente importa el archivo flights.csv.

In [8]:
#/home/diego/Documentos/Apuntes data science/g56/2fundamentos_data_science/s1/c2/desafio_guiado/Apoyo Desafío - Introducción al ambiente de trabajo/flights.csv
df = pd.read_csv('flights.csv')

* C. Solicita las primeras y últimas 5 observaciones de la tabla de datos.

In [9]:
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [10]:
df.tail()

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

* D. Utiliza describe para obtener las medidas univariadas de la columna year.

In [11]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

* E. Utiliza value_counts para obtener la frecuencia de meses y años de la tabla.

In [12]:
df['year'].value_counts()

1949    12
1950    12
1951    12
1952    12
1953    12
1954    12
1955    12
1956    12
1957    12
1958    12
1959    12
1960    12
Name: year, dtype: int64

In [13]:
df['month'].value_counts()

January      12
February     12
March        12
April        12
May          12
June         12
July         12
August       12
September    12
October      12
November     12
December     12
Name: month, dtype: int64

* F. Guarda en variables las primeras y últimas 15 observaciones de la tabla.

In [14]:
first_15 = df[:15]
last_15 = df[129:]

In [15]:
last_15.shape

(15, 3)

* G. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros utilizando los métodos de numpy. Replique el procedimiento para las últimas y primeras 15 observaciones. Comente brevemente los resultados.

In [16]:
media = np.mean(df['passengers'])
mediana = np.median(df['passengers'])
std = np.std(df['passengers'])

print('La media de los pasajeros es:  {}'.format(media))
print('La mediana de los pasajeros es:  {}'.format(mediana))
print('La std de los pasajeros es:  {}'.format(std))

La media de los pasajeros es:  280.2986111111111
La mediana de los pasajeros es:  265.5
La std de los pasajeros es:  119.54904153277148

In [17]:
media = np.mean(first_15['passengers'])
mediana = np.median(first_15['passengers'])
std = np.std(first_15['passengers'])

print('La media de los pasajeros es:  {}'.format(media))
print('La mediana de los pasajeros es:  {}'.format(mediana))
print('La std de los pasajeros es:  {}'.format(std))

La media de los pasajeros es:  126.8
La mediana de los pasajeros es:  126.0
La std de los pasajeros es:  12.681745410891462

* Podemos concluir que el total de datos se encuentra muy disperso con una desviacion estandar de 119,5.
* por el lado de los primeros 15 podemos observar que no estan tan dispersos ya que su desviacion es de 12 y su media coincide con la mediana.
* Si quisieramos utilizar los primeros 15 como muestra representativa, esto no seria correcto ya que difieren mucho sus cracteristicas en comparacion al total de la poblacion.