## DESAFIO S1

### Req 1

    Generar un par de arrays ficticios con numpy.

In [1]:
import numpy as np

In [2]:
lista_50 = np.linspace(1,50)
lista_50

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50.])

In [3]:
lista_150 = np.linspace(50,150, num = 101)
lista_150

array([ 50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,  60.,
        61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,  71.,
        72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,  80.,  81.,  82.,
        83.,  84.,  85.,  86.,  87.,  88.,  89.,  90.,  91.,  92.,  93.,
        94.,  95.,  96.,  97.,  98.,  99., 100., 101., 102., 103., 104.,
       105., 106., 107., 108., 109., 110., 111., 112., 113., 114., 115.,
       116., 117., 118., 119., 120., 121., 122., 123., 124., 125., 126.,
       127., 128., 129., 130., 131., 132., 133., 134., 135., 136., 137.,
       138., 139., 140., 141., 142., 143., 144., 145., 146., 147., 148.,
       149., 150.])

### Req 2

    Ejecuta un loop que devuelva si el número en el primer array es par o impar.

In [4]:
lista_50_par = np.mod(lista_50, 2) == 0
par_impar = ['PAR' if i == True else 'IMPAR' for i in lista_50_par]
par_impar

['IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR',
 'IMPAR',
 'PAR']

### Req 3

    Genere un loop con el segundo array que cuente las siguientes condiciones:

In [5]:
lista150_div2 = np.mod(lista_150, 2) == 0
lista150_div3 = np.mod(lista_150, 3) == 0

* Si el número es divisible por 2 o 3.

In [6]:
div2_o_3=[1 if lista150_div2[i] == True or lista150_div3[i] == True else 0 for i in range(len(lista_150)) ]
print(f'El total de numeros divisibles por 2 o 3 es : {np.sum(div2_o_3)}')

El total de numeros divisibles por 2 o 3 es : 68

* Si el número es divisible por 2 y 3.

In [7]:
div2_y_3=[1 if lista150_div2[i] == True and lista150_div3[i] == True else 0 for i in range(len(lista_150)) ]
print(f'El total de numeros divisibles por 2 y 3 es : {np.sum(div2_y_3)}')

El total de numeros divisibles por 2 y 3 es : 17

* Si el número es divisible por 3 pero no por 2.

In [8]:
div3_no2=[1 if lista150_div2[i] == False and lista150_div3[i] == True else 0 for i in range(len(lista_150)) ]
print(f'El total de numeros divisibles por 3 y no por 2 es : {np.sum(div3_no2)}')

El total de numeros divisibles por 3 y no por 2 es : 17

* si el número no es divisible por 2 ni 3.

In [9]:
nodiv2_y_3=[1 if lista150_div2[i] == False and lista150_div3[i] == False else 0 for i in range(len(lista_150)) ]
print(f'El total de numeros no divisibles por 2 ni 3 es : {np.sum(nodiv2_y_3)}')

El total de numeros no divisibles por 2 ni 3 es : 33

### Req 4

    Corrección de errores: Revisa el siguiente código y encuentra los errores a corregir.

In [1]:
'''
for i in range(100):
    print(I**2)
'''    
# la i dentro del print esta en mayuscula

for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### Req 5

    Utilizando la misma base flights.csv debes hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media. Para ello:

* Genera un nuevo objeto que represente la media de passengers.

In [11]:
import pandas as pd
#pd.options.display.max_rows = None

In [12]:
df = pd.read_csv('flights.csv')
media_pasajeros = df['passengers'].mean()
print(f"La media de pasajeros es: {media_pasajeros}")

La media de pasajeros es: 280.2986111111111

* Genera una columna en la base de datos que se llame underperforming y asígnele 0.

In [13]:
underperforming = [0 for i in range(144)]
len(underperforming)

144

In [14]:
df['underperforming'] = underperforming
df

     year      month  passengers  underperforming
0    1949    January         112                0
1    1949   February         118                0
2    1949      March         132                0
3    1949      April         129                0
4    1949        May         121                0
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

* Ejecuta un loop que recorra cada observación de passengers, donde si la observación es menor a la media de passengers se le asigne a underperforming un 1.

In [15]:
bajo_media = []
for index, row in df.iterrows():
    if row['passengers'] < media_pasajeros:
        bajo_media.append(1)
    else:
        bajo_media.append(0)
df['underperforming'] = bajo_media
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

* Asignar unos en la columna underperforming ya creada, para ello utilice la función at de pandas.

In [16]:
#reseteamos nuestro data frame
df['underperforming'] = underperforming
df

     year      month  passengers  underperforming
0    1949    January         112                0
1    1949   February         118                0
2    1949      March         132                0
3    1949      April         129                0
4    1949        May         121                0
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

In [17]:
for index, row in df.iterrows():
    if row['passengers'] < media_pasajeros:
        df.at[index,'underperforming'] = 1
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

### Req 6

Por último, haz un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia. Para ello:

* Genera dos objetos que guarden la media general y la desviación estándar general de passengers.

In [18]:
media_pasajeros

280.2986111111111

In [19]:
std_pasajeros = df['passengers'].std()
std_pasajeros

119.96631694294321

* Genera una nueva columna en la tabla de datos que se llame outlier y asígnale 0.

In [20]:
outlier = [0 for i in range(144)]
df['outlier'] = outlier

In [21]:
df

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        0
1    1949   February         118                1        0
2    1949      March         132                1        0
3    1949      April         129                1        0
4    1949        May         121                1        0
..    ...        ...         ...              ...      ...
139  1960     August         606                0        0
140  1960  September         508                0        0
141  1960    October         461                0        0
142  1960   November         390                0        0
143  1960   December         432                0        0

[144 rows x 5 columns]

* Ejecuta un loop que recorra cada observación de passengers, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.

* Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
    - La observación debe ser menor a la media menos la desviación estándar, o
    - La observación debe ser mayor a la media más la desviación estándar.
    - ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [22]:
rango_inf = media_pasajeros - std_pasajeros
rango_sup = media_pasajeros + std_pasajeros
ic = [rango_inf, rango_sup]
ic

[160.3322941681679, 400.2649280540543]

In [23]:
for index, row in df.iterrows():
    if row['passengers'] < rango_inf or row['passengers'] > rango_sup:
        df.at[index,'outlier'] = 1
df

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
..    ...        ...         ...              ...      ...
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
142  1960   November         390                0        0
143  1960   December         432                0        1

[144 rows x 5 columns]

In [25]:
cant_outliers = df['outlier'].sum()
print(f'''
Podemos encontrar {cant_outliers} mediciones a considerar como outliers.
Los cuales se encuentran fuera de nuestro intervalo de confianza definido
{ic}''')

Podemos encontrar 53 mediciones a considerar como outliers.
Los cuales se encuentran fuera de nuestro intervalo de confianza definido
[160.3322941681679, 400.2649280540543]