# Desafio Guiado S2

## Calculando Probabilidades

### Req 1 Lectura de archivos

* Importa pandas y numpy siguiendo las convenciones.
* Lee la base de datos worldcup2014.csv y asígnela a un objeto df.
* Solicita las primeras 5 observaciones con head.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('worldcup2014.csv') 
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

### Req 2 Frecuencia de continent:
utilizando value_counts responde lo siguiente:

* ¿Cuál es el continente con una mayor presencia en la muestra?

In [3]:
# Verificamos los datos perdidos
df['continent'].isna().value_counts()

False    32
Name: continent, dtype: int64

In [4]:
df['continent'].value_counts()

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [5]:
print(f'Europa es el contienente con mayor presencia con {df["continent"].value_counts()[0]} de paises')

Europa es el contienente con mayor presencia con 13 de paises

* ¿Cuál es la probabilidad de elegir un equipo asiático al azar?

In [6]:
df['continent'].value_counts('%')

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [7]:
p_asia = np.round(100* df["continent"].value_counts("%")[4],2)
print(f'La probabilidad de elegir un equipo asiatico es { p_asia } %')

La probabilidad de elegir un equipo asiatico es 12.5 %

* ¿Cuál es la probabilidad de elegir un equipo africano al azar?

In [8]:
p_africa = np.round(100* df["continent"].value_counts("%")[2],2)
print(f'La probabilidad de elegir un equipo africano es { p_africa } %')

La probabilidad de elegir un equipo africano es 15.62 %

### Req 3: 
* Generación de un subconjunto de datos: por cada continente, genere un nuevo objeto que almacene sólo las observaciones del continente.

In [9]:
europe = df[df['continent'] ==  'europe']
southamerica = df[df['continent'] == 'southamerica']
africa = df[df['continent'] ==   'africa']
northamerica = df[df['continent'] == 'northamerica']
asia  = df[df['continent'] == 'asia']

### Req 4:
 Probabilidad de clasificación a la siguiente ronda: calcula la probabilidad de que un país pase a la siguiente ronda (clasifique) por continente.

* ¿Cuál es la probabilidad de que un país asiático pase a la siguiente ronda?

In [10]:
asia

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [11]:
df['team_asiatico_pasa'] = np.logical_and(df['continent']=='asia',
              df['clasificado'] == 1)
df['team_asiatico_pasa'].value_counts('%')

False    1.0
Name: team_asiatico_pasa, dtype: float64

* ¿Cuáles son los dos continentes con la mayor probabilidad de clasificar?

In [13]:
#contador para el group by
df['contador_pais'] = 1

In [14]:
clasificacion = df.groupby(by=['continent'], group_keys=True).sum()
clasificacion

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado,team_asiatico_pasa,contador_pais
continent,,,,,,,,,,,
africa,15,15,3,3,9,18,28,12,2,0,5
asia,16,12,0,3,9,9,25,3,0,0,4
europe,30,39,18,7,14,62,52,61,6,0,13
northamerica,9,12,5,3,4,13,14,18,3,0,4
southamerica,10,18,13,2,3,34,17,41,5,0,6

In [15]:
for index , row in clasificacion.iterrows():
    prob_clasif = np.round(100 * row['clasificado']/row['contador_pais'], 4)
    print(f"{index} {prob_clasif} % ")

africa 40.0 %
asia 0.0 %
europe 46.1538 %
northamerica 75.0 %
southamerica 83.3333 %

* ¿Cuál es la probabilidad de que un país europeo no clasifique?

In [16]:
clasificacion.loc['europe']

group_pos             30
cantidad_juegos       39
juegos_ganados        18
juegos_empatados       7
juegos_perdidos       14
goles_favor           62
goles_contra          52
puntos                61
clasificado            6
team_asiatico_pasa     0
contador_pais         13
Name: europe, dtype: int64

In [17]:
# paises no clasificados de europa
no_clasifiados_eu = clasificacion.loc['europe']['contador_pais'] - clasificacion.loc['europe']['clasificado']
no_clasifiados_eu

7

In [18]:
prob_no_clasifica_eu = (no_clasifiados_eu / clasificacion.loc['europe']['contador_pais']) *100
print(f'La probabilidad que no clasifique un pais europeo es de: {np.round(prob_no_clasifica_eu, 4)} %')

La probabilidad que no clasifique un pais europeo es de: 53.8462 %

### Req 5

Probabilidad de victoria y derrota: se pide utilizar value_counts para calcular la
probabilidad de que un continente contenga países  con o sin victorias.
Para ello crea una columna adicional llamada 'ha_ganado' quecontenga un 0 si es
que un país no tiene juegos ganados y un 1 si es que ha ganado al menos un juego.

In [19]:
df.head(0)

Empty DataFrame
Columns: [team, continent, group, group_pos, cantidad_juegos, juegos_ganados, juegos_empatados, juegos_perdidos, goles_favor, goles_contra, goles_diferencia, puntos, clasificado, team_asiatico_pasa, contador_pais]
Index: []

In [20]:
df['ha_ganado'] = np.where(df['juegos_ganados']>0,1,0)
df[['juegos_ganados','ha_ganado']].head()

   juegos_ganados  ha_ganado
0               2          1
1               2          1
2               1          1
3               0          0
4               3          1

In [21]:
victorias_by_conti = df.groupby('continent').sum()
victorias_by_conti

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado,team_asiatico_pasa,contador_pais,ha_ganado
continent,,,,,,,,,,,,
africa,15,15,3,3,9,18,28,12,2,0,5,3
asia,16,12,0,3,9,9,25,3,0,0,4,0
europe,30,39,18,7,14,62,52,61,6,0,13,11
northamerica,9,12,5,3,4,13,14,18,3,0,4,3
southamerica,10,18,13,2,3,34,17,41,5,0,6,6

* A. ¿Qué continente tiene la mayor probabilidad de tener países con almenos 1 victoria?

In [22]:
for index, row in victorias_by_conti.iterrows():
    prob_almenos1_victoria = row['ha_ganado'] / row['contador_pais']
    print(f'{index}: {100*prob_almenos1_victoria} %')

africa: 60.0 %
asia: 0.0 %
europe: 84.61538461538461 %
northamerica: 75.0 %
southamerica: 100.0 %

-- r: Europa tiene mas prob de tener paises con al menos 1 victoria

* B. ¿Qué continente tiene un nivel similar entre países que tienen o no tienen victorias?

-- r: Africa es el mas cercano al 50% lo que indicaria que con un  60% de paises con al menos una victoria un 40 % no tendria victorias

* Reformule el código para juegos perdidos y analice los continentes con mayor probabilidad de tener países sin juegos perdidos.

In [23]:
df['no_ha_perdido'] = np.where(df['juegos_perdidos']==0,1,0)
df[['juegos_perdidos','no_ha_perdido']].head()

   juegos_perdidos  no_ha_perdido
0                0              1
1                0              1
2                2              0
3                3              0
4                0              1

In [24]:
sin_derrota_by_conti = df.groupby('continent').sum()
sin_derrota_by_conti

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado,team_asiatico_pasa,contador_pais,ha_ganado,no_ha_perdido
continent,,,,,,,,,,,,,
africa,15,15,3,3,9,18,28,12,2,0,5,3,0
asia,16,12,0,3,9,9,25,3,0,0,4,0,0
europe,30,39,18,7,14,62,52,61,6,0,13,11,4
northamerica,9,12,5,3,4,13,14,18,3,0,4,3,2
southamerica,10,18,13,2,3,34,17,41,5,0,6,6,3

In [25]:
for index, row in sin_derrota_by_conti.iterrows():
    prob_sin_derrota = row['no_ha_perdido'] / row['contador_pais']
    print(f'{index}: {100*prob_sin_derrota} %')

africa: 0.0 %
asia: 0.0 %
europe: 30.76923076923077 %
northamerica: 50.0 %
southamerica: 50.0 %